:root {
  --swiper-pagination-bullet-inactive-color: white;
}

.galleryBoxContainer {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1000;
  position: fixed !important;
  display: flex;
  flex-direction: column;
}

.containerBox {
  color: white;
  width: 100%;
  background-color: black;
}

.toolbar {
  background-color: black;
  position: absolute;
  width: 100%;
  /* height: 35px; */
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.toolbar button {
  background-color: transparent;
  border: none;
  border-radius: 22px;
  padding: 13px;
  color: white;
}

.containerBox .containerLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.containerImagePreview {
  width: 100vw;
  position: absolute;
  top: 55px;
  bottom: 150px;
  display: flex;
  justify-content: center;
}

/* Adapted image  */
.containerBox .containerLayout img {
  /* width: 100vw;
  object-fit: scale-down; */
}

/* Full screen image */
.containerBox .containerLayout img {
  width: 100%;
  object-fit: contain;
}

.box-thumb-container {
  background-color: #000;
  position: absolute;
  bottom: 0;
  display: flex;

  height: 150px;
  width: 100%;
}

.box-thumb-swiper {
  display: grid;
  place-content: center;
  background-color: #000000;
}


.thumbItemImage {
  /* border: solid 3px rgb(63, 63, 63);
  border-radius: 15px;
   */
}

.box-thumb-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}