:root {
  --swiper-pagination-bullet-inactive-color: white;
}

.containerBox {
  color: white;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: absolute !important;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  background-color: black;
  position: absolute;
  width: 100%;
  /* height: 35px; */
  z-index: 10;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.toolbar button {
  background-color: transparent;
  border: none;
  border-radius: 22px;
  padding: 13px;
  color: white;
}

.containerBox .containerLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.barPaginationLayout {
  width: 100%;
  flex-basis: 50px;
}

.toolbarLayout {
  width: 100%;
  flex-basis: 50px;
}

.containerImagePreview {
  height: 90vh;
  max-height: 90vh;
  width:  100vw;
  position: absolute;
  top: 55px;

  display: flex;
  justify-content: center;
}

.containerBox .containerLayout img {
  width: 100vw;
  /* min-height: auto ; */
  object-fit: scale-down;
  border-radius: 20px;
}